.likes-wrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 200px;
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.like{
    width: 30px;
    height: auto;
    margin-left: 10px;
}